@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import "sweetalert2/dist/sweetalert2.min.css";
@import "@fontsource/open-sans";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

* {
    font-family: "Open Sans", Arial, "sans-serif";
}

.cursor-pointer {
    cursor: pointer;
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.w-32 {
    width: 32px;
}

.fs-7 {
    font-size: 0.875em !important;
}

.fs-8 {
    font-size: 0.75em !important;
}

.text-decoration-none {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.bg-modal {
    background-color: rgb(233, 238, 246);
}

.bg-black-50 {
    background-color: rgba(0, 0, 0, 0.5);
}
